<div class="container">
  <div class="search">
    <h1>Movie Poster Search</h1>
    <form id="fetch">
      <input type="text" placeholder="enter movie title here" id="term" />
      <button id="search">Find</button>
    </form>
    <div class="container">
      <div id="poster" class="row center"></div>
    </div>
  </div>
</div>