@import "bootstrap";

.center {
	justify-content: center;
}

.album {
	min-height: 50rem;
}

.card {
	display: grid;
	float: left;
	width: 33.333%;
	padding: .75rem;
	margin-bottom: 2rem;
	border: 0;
}

.card img {
	margin: auto;
}

#movies img, #poster img{
  width:100%;
}

@media(min-width:960px){
  #movies .col-md-3 .well{
    height: 390px;
  }

  #movies .col-md-3 img{
    height:240px;
  }
}
